---
import logoTimecup from '../../assets/logo_timecup_white.svg';
import { urlForm } from '../../content/league';
---

<header class="fixed top-0 z-50 w-full bg-black/80 backdrop-blur-md border-b border-white/10">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <div class="flex items-center">
                    <a href="/" aria-label="Time Cup League">
                    <img src={logoTimecup.src} alt="Time Cup League" class="h-8 w-auto" />
                    </a>
                </div>
            </div>
            <div class="hidden md:flex md:items-center md:space-x-8 text-white">
                <a class="hover:text-primary-500 transition-colors" href="/#characteristics">Características</a>
                <a class="hover:text-primary-500 transition-colors" href="/#how-it-works">Cómo funciona</a>
                <a class="hover:text-primary-500 transition-colors" href="/#standards">Categorías</a>
                <a class="hover:text-primary-500 transition-colors" href="/bases">Bases</a>
            </div>
            <a href={urlForm} target="_blank" class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-md h-10 px-4 bg-primary-500 text-white text-sm font-bold tracking-wider hover:bg-primary/90 transition-all duration-300 ease-in-out transform hover:scale-105">
                  INSCRÍBETE
            </a>
        </div>
    </div>
</header>       

