---
import { urlForm } from '../../content/league';
---

<section>
<div class="relative bg-grid">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent via-black/50 to-black"></div>
    <div class="relative min-h-[60vh] md:min-h-[80vh] flex flex-col gap-8 items-center justify-center text-center p-4">
    <div class="absolute inset-0 bg-cover bg-center opacity-20" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA0dhzX9MrWkZzzYYWv3_x7mU_TTjaPGo05UXoNutm8jDTSpNmAFi2DBtfHeTWSksEocyWFwNTfSu9YlBFrxGvfUiRO8h5d39ERiNY-wAVFJfMMePZmiZRJdklanwiOjwE7S__tbxXjvFeQ-6OASKKRVDK4m23bhyZwY-qzunLuZQMlWz-CASksyA7JzBJQnkBAcXQf8vd7aQMKFrRECe2MT_MbTfZ5__qSbDSgEC42qCuMntHhstT36wh9sW8u9UoAc0pRcDbymcPS");'></div>
    <div class="relative z-10 flex flex-col gap-4">
    <h1 class="text-white text-4xl md:text-6xl lg:text-7xl font-black tracking-tighter leading-tight text-glow">
    TU DESAFÍO CROSS TRAINING COMIENZA. 
                    </h1>
    <p class="text-white/80 text-lg md:text-xl max-w-2xl mx-auto">
                      3 Meses. 6 Jornadas. 3 Compañeros. 1 Campeón.
                    </p>
    </div>
    <div class="relative z-10 mt-6">
    <a href={urlForm} target="_blank" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-14 px-8 bg-gradient-to-r from-secondary-500 to-primary-500 text-white text-lg font-bold tracking-wider hover:scale-105 hover:shadow-2xl hover:shadow-accent-purple/50 transition-all duration-300 ease-in-out">
    <span class="truncate">Inscribirme</span>
    </a>
    </div>
    </div>
    </div>
</section>

<style>
    
    .text-glow {
    text-shadow: 0 0 8px text-primary, 0 0 20px text-accent-blue;
  }
  .bg-grid {
    background-image:
        linear-gradient(to right, text-secondary-500/0.1 1px, transparent 1px),
        linear-gradient(to bottom, text-secondary-500/0.1 1px, transparent 1px);
    background-size: 40px 40px;
  }

</style>