---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Presentation from '../components/sections/Presentation.astro'
import Hero from '../components/sections/Hero.astro';
import Features from '../components/sections/Features.astro';
import Categories from '../components/sections/Categories.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import CTA from '../components/sections/CTA.astro';

---

<Layout>
  <Header />
  <main>
    <Presentation />
    <div class="container">
      <Hero />
      <!-- <Features />
      <Categories />
      <HowItWorks />
      <CTA /> -->
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    background-color: #000;
  }

  .container {
    max-width: 850px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
  </style>
