---
export interface Props {
  class?: string;
  hover?: boolean;
  classOpacity?: 'card'|'card_opacity';
}

const { 
  class: className = '', 
  hover = true,
  classOpacity = 'card', 
  ...rest
} = Astro.props;

const opacityClasses = {
  card: 'card',
  card_opacity : 'card_opacity_80'
};
const hoverClasses = hover ? 'hover:shadow-md hover:-translate-y-1' : '';
const classes = `${opacityClasses[classOpacity]} ${hoverClasses} ${className}`.trim();
---

<div class={classes} {...rest}>
  <slot />
</div>
